---
// Component Imports
import BaseHead from '../../layouts/BaseHead.astro'
// You can import components from any supported Framework here!
---
<BaseHead title="Build Order">
	<h1>Hello, world!</h1>
	<p>This is my page content. It will be bested inside a layout.</p>
</BaseHead>