---
const {title} = Astro.props;
---
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>{title}</title>

<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<link rel="stylesheet" href="/style/global.css">
<link rel="stylesheet" href="/style/home.css">
<link rel="stylesheet" type="text/css" href="../datatables.css"/>

<script type="text/javascript" src="../jquery.autogrowtextarea.js"></script>
<script type="text/javascript" src="../jquery.datatables.js"></script>
